// SPDX-License-Identifier: LicenseRef-CASU-AntiCapitalist-1.4
// Windows resource: application icon (CASU-Converter). Mirrors the Linux
// desktop entry icon (packaging/casu-converter.desktop → casu_converter_icon).
#include <windows.h>

IDI_ICON1 ICON "assets/casu_converter_icon.ico"
