// SPDX-License-Identifier: LicenseRef-CASU-AntiCapitalist-1.4
// Windows resource: application icon (CASU-Web-Backend). Mirrors the Linux
// desktop entry icon (packaging/web-casu.desktop → web_casu_icon).
#include <windows.h>

IDI_ICON1 ICON "assets/web_casu_icon.ico"
