[Desktop Entry]
Type=Application
Name=CASU Full Media Converter
Comment=Convert audio, video and CASU files individually or in batches
Exec=casu-converter %F
Icon=casu-converter
Terminal=false
Categories=AudioVideo;
MimeType=video/mp4;video/x-matroska;video/webm;audio/mpeg;audio/flac;application/x-casu;
StartupNotify=true
